/* General */
body {
  font-family: "Raleway", sans-serif;
  background-color: #faf1f42f;
}

a:hover {
  text-decoration: none;
}

#top-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

/* Colors */
.dark-blue {
  color: #5244a3;
}

/* Main container */
.container-fluid {
  max-width: 1490px;
  padding: 0px;
  margin: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

#map-spinner {
  width: 10rem;
  height: 10rem;
  display: block;
  position: fixed;
  z-index: 1;
  top: calc(50% - (10rem / 2));
  right: calc(50% - (10rem / 2));
}

/* Navbar */
#welcome-message {
  color: #fff;
}

#header-brand {
  padding: 0;
}

#header-logo {
  height: 2.5rem;
  width: 2.5rem;
}

#header-title {
  font-size: 1.5rem;
}

/* Countries */
@media screen and (min-width: 600px) {
  .country-selectors {
    position: relative;
    top: 2.2rem;
    z-index: 1;
    opacity: 0.95;
  }

  #country-panel {
    position: relative;
    top: -0.5rem;
  }
}

.rsm-svg {
  border: 1px solid #d3d7db;
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.country-info {
  border-radius: 3px;
  background-color: #4cb69f;
  color: #faf9f8;
  margin-bottom: 0.6rem;
  padding: 1rem;
  height: 28.3rem;
  font-size: 1.3rem;
}

.countries-list {
  max-height: 31.5rem;
  width: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.countries-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#country-panel-top {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

#country-info-spinner {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 600px) {
  .country-buttons {
    position: relative;
    top: 2.5rem;
    right: 13rem;
    z-index: 1;
    opacity: 0.95;
  }
}

/* Universities */
.university-card {
  width: 20rem;
  margin: 1rem;
}

.university-website {
  color: #bbbfc4;
}

.university-website:hover {
  color: #faf9f8;
}

.university-card-header {
  background-color: #c15772;
  color: #faf9f8;
}

.university-card-left {
  float: left;
  width: 90%;
  padding: 0.2rem;
}

.university-card-right {
  float: left;
  width: 10%;
  padding: 0.2rem;
}

#universities-panel {
  border-top: 0.04rem solid #e8e8e8;
}

#university-panel {
  border: 1px solid #d3d7db;
  border-radius: 3px;
  margin: 1rem 0.65rem 0.6rem 1rem;
  background-color: #fff;
}

#university-panel-header {
  background-color: #4cb69f;
  color: #faf9f8;
  text-align: center;
  font-size: 2rem;
}

/* Affiliate */
.subscription-price {
  font-size: 1.7rem;
}

#subscription-panel {
  display: inline-flex;
}

/* Profile */
#profile-panel {
  margin-top: 5rem;
}

#admin-info-spinner {
  margin-top: 15rem;
  width: 10rem;
  height: 10rem;
}
