body {
  font-family: "Raleway", sans-serif;
}

/* Colors */
.dark-blue {
  color: #5244a3;
}

/* Main container */
.container-fluid {
  max-width: 1490px;
  padding: 0px;
  margin: 0px 20px;
}

#map-spinner {
  width: 10rem;
  height: 10rem;
  display: block;
  position: fixed;
  z-index: 1;
  top: calc(50% - (10rem / 2));
  right: calc(50% - (10rem / 2));
}

/* Navbar */
#welcome-message {
  display: inline;
  padding-top: 0.5rem;
  color: #fff;
}

/* Countries */
@media screen and (min-width: 600px) {
  .country-selectors {
    position: relative;
    top: 3.5rem;
    z-index: 1;
    opacity: 0.95;
  }
}  

.rsm-svg {
  border: 1px solid #d3d7db;
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

.country-info {
  border-radius: 3px;
  background-color: #4cb69f;
  color: #faf9f8;
  margin-bottom: 0.6rem;
  padding: 1rem;
  text-align: center;
  height: 28.3rem;
  font-size: 1.3rem;
}

#country-panel-top {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
}

#country-info-spinner {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
}

.countries-list {
  max-height: 31.5rem;
  width: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.countries-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* Universities */
.university-card {
  width: 20rem;
  margin: 1rem;
}

#university-panel {
  background-color: #f0eff7;
}

/* Authentication */
.auth-container {
  max-width: 400px;
  border: 1px solid #d3d7db;
  border-radius: 3px;
  padding: 2rem;
}
